tqdm
h5py
scikit-image
einops
graphviz
plyfile
munch
huepy
Cython
tensorboardX
packaging
torchsummary
imageio
pyyaml
opencv-python
pyntcloud
lpips
kornia==0.5.11
ffmpeg_python
pandas
pillow
torch
torchvision
torchaudio
ffmpeg